body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #d7eafd, #f0fff4);
  display: flex;
  justify-content: center;
  align-items: center;

}

.form-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 50%;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}


button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #0077b6, #0096c7);
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
}

